* body {
  font-family: 'Montserrat', sans-serif;
  min-width: 760px;
}

/* Container */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #fff;
  height: 130px;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px 0;
  width: 100%;
}

.header-logo-text {
  font-size: 20px;
  font-weight: 700;
  line-height: .8;
  text-align: left;
  text-transform: uppercase;
  padding-left: 10px;
}
.header-gray {
  font-size: 11px;
  text-transform: none;
  color: gray;
}
.header-tel {
  margin-left: auto;
  font-size: 20px;
  font-weight: 700;
  line-height: .8;
  text-align: right;
  padding-right: 30px;
}

.header-btn {
  width: 190px;
  height: 40px;
  background: #fff;
  font-size: 15px;
  animation: pulse .5s ease-in-out 1.5s infinite
}

.header-btn-link {
  border: 2px solid #000;
  border-radius: 2px;
  color: #000;
  display: block;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
}

.header-btn:hover {
  transform: scale(1.02);
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.header-btn:active {
  -ms-transform: translate(1px,2px);
  -moz-transform: translate(1px,2px);
  -webkit-transform: translate(1px,2px);
  transform: translate(1px,2px);
}

/* Nav */
.nav {
  background-color: rgb(255, 204, 0);
  position: absolute;
  height: 60px;
  left: 50%;
  margin-left: -480px;
  top: 100px;
  width: 960px;
}

.nav-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  max-width: 960px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 5px 70px;
}

.nav-list-item {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.nav-list-item:hover {
  color: #fff;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s
}

/* Main */
.main {
  background: url(../img/main/main.jpg) center no-repeat;
  height: 550px;
  width: 100%;
}
.main-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 470px;
  width: 100%;
}
.main-title {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-subtitle {
  color: #fff;
  padding: 50px 0;
  font-size: 18px;
  font-weight: normal;
}

.main-footer {
  display: flex;
  align-items: center;
}

.main-footer-btn {
  background: #fc0;
  border-radius: 2px;
  border: none;
  height: 45px;
  width: 200px;
  font-size: 14px;
  font-weight: 700;
}

.main-footer-btn:hover {
  box-shadow: 0 0 10px #fff672;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.main-footer-btn:active {
  -ms-transform: translate(1px,2px);
  -moz-transform: translate(1px,2px);
  -webkit-transform: translate(1px,2px);
  transform: translate(1px,2px);
}

.main-footer-text {
  color: #fff;
  padding: 0 20px;
  font-size: 14px;
}
.main-footer-link {
  margin-left: 20px;
  color: #fff;
  font-size: 14px;
  /* text-decoration: none; */
}
.main-footer-link-go {
  margin-left: 20px;
  color: #fff;
  font-weight: bold;
}

.main-footer-btn-b-link:hover {
  color: #fc0;
}

.main-footer-btn-b {
  margin-right: auto;
  padding-top: 15px;
}

/* Section-one */
.section-one {
  background-color: #fff;
  height: 750px;
  width: 100%;
}

.section-inner {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 80px 0;
}

.section-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f6f6f6;
  height: 530px;
  width: 300px;
  text-align: center;
}

.section-card:hover {
  box-shadow: 0 0 10px #d3d3d3, 0 0 40px #d3d3d3, 0 0 80px #d3d3d3;

  -moz-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);

  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}

.section-card-title {
  font-weight: bold;
  font-size: 1em;
  padding: 25px 0;
}

.section-card-text {
  color: #626262;
  font-size: 14px;
}

.section-card-price {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  padding: 35px 0;
}

.section-card-btn {
  margin: 10px 0;
}

.section-card-btn-link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  background-color: #fc0;
  padding: 20px 60px;
  text-align: center;
  width: 180px;
  margin-bottom: 20px;
}

.section-card-btn-link:hover {
  box-shadow: 0 0 10px #d3d3d3, 0 0 40px #d3d3d3;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.section-card-btn-link:active {
  -ms-transform: translate(1px,2px);
  -moz-transform: translate(1px,2px);
  -webkit-transform: translate(1px,2px);
  transform: translate(1px,2px);
}

/* Section-two */
.section-two {
  background-color: #ececec;
  height: 550px;
  width: 100%;
}

.section-two-cards {
  display: flex;
  justify-content: space-between;
}

.section-two-card {
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 250px;
  width: 250px;
  padding: 30px 25px;
}

.section-two-card:hover {
  background-color: #fff;
  box-shadow: 0 0 10px #d3d3d3, 0 0 40px #d3d3d3, 0 0 80px #d3d3d3;

  -moz-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);

  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}

/* Section-three */
.section-three {
  background-color: #fff;
  height: 650px;
  width: 100%;
}

.section-three-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-three-card {
  background-color: #fff;
  border: 2px solid #f6f6f6;
  padding: 20px 20px;
  width: 190px;
  height: 380px;
  text-align: center;
}

.section-three-card:hover {
  box-shadow: 0 0 10px #d3d3d3, 0 0 40px #d3d3d3, 0 0 80px #d3d3d3;

  -moz-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);

  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}

.section-three-card-btn-link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  background-color: #fc0;
  padding: 20px 60px;
  text-align: center;
}

.section-three-card-btn-link:hover {
  box-shadow: 0 0 10px #d3d3d3, 0 0 40px #d3d3d3;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.section-three-card-btn-link:active {
  -ms-transform: translate(1px,2px);
  -moz-transform: translate(1px,2px);
  -webkit-transform: translate(1px,2px);
  transform: translate(1px,2px);
}

/* Section-four */
.section-four {
  background-color: #ececec;
  height: 520px;
  width: 100%;
}

.section-four-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-four-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid #fff;
  height: 250px;
  width: 250px;
  padding: 30px 25px;
}

.section-four-card:hover {
  background-color: #fff;
  box-shadow: 0 0 10px #d3d3d3, 0 0 40px #d3d3d3, 0 0 80px #d3d3d3;

  -moz-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow .5s, transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);

  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}

.section-four-card-link {
  color: #000;
  font-weight: 700;
}

/* location */
.location {
  background: url(../img/location/location.jpg) center no-repeat;
  height: 520px;
  width: 100%;
}

/* contacts */
.contacts {
  background-color: #fff;
  position: relative;
  height: 360px;
  width: 380px;
  left: 580px;
  top: 80px;
}

.contacts-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  text-align-last: left;
  padding: 60px 60px;
}

.contacts-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.contacts-list {
  margin: 0;
  padding: 0;
}

.contacts-inner ul {
  list-style-type: none;
  font-size: 14px;
}

.contacts-inner li {
  margin: 40px 0;
}

.contacts-inner li .contacts-tel {
  background: url(../img/contacts/phone.png) no-repeat left;
  padding: 0 30px;
  font-weight: 700;
}

.contacts-inner li .contacts-adress {
  background: url(../img/contacts/location-pin.png) no-repeat left;
  padding: 0 30px;
}

.contacts-inner li .contacts-email {
  background: url(../img/contacts/mail.png) no-repeat left;
  padding: 0 30px;
}

.contacts-inner a {
  border-bottom: 1px solid #c9c9c9;
  color: #000;
  text-decoration: none;
}


/* footer */
.footer {
  background-color: #292929;
  height: 100px;
  padding: 50px 0;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-tel {
  margin-left: auto;
  color: #fff;
  text-align: right;
  font-size: 20px;
  line-height: .8;
}

.footer-text {
  font-size: 11px;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 30px;
}

.footer-copy {
  color: #fff;
  font-size: 13px;
}

.footer-btn {
  width: 190px;
  height: 40px;
  font-size: 15px;
}

.footer-btn-link {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.footer-btn:hover {
  box-shadow: 2px 2px 10px #ffffff;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

